<div class="row">
  <br>
  <br>
  <div class="small-12 medium-4 columns">
    {{spree-images images=selectedVariant.images}} {{spree-properties properties=product.productProperties}}
  </div>
  <div class="small-12 medium-8 columns">
    <div class="row">
      <div class="small-12 columns">
        <h1>{{{product.name}}}</h1>
        <hr>
        {{#if selectedVariant.description}}
          <h6>{{{selectedVariant.description}}}</h6>
        {{else}}
          <h6>No Description</h6>
        {{/if}}
      </div>
      {{#if product.variants.length}}
        <div class="small-12 medium-6 columns left">
          <h3>Variants</h3>
          {{view "select" content=product.variants optionLabelPath="content.optionsText" selection=selectedVariant}}
        </div>
      {{/if}}
      <div class="small-12 medium-6  columns left">
        <h3>Price: {{selectedVariant.displayPrice}}</h3>
        {{input value=quantity placeholder="Quantity"}}
      </div>
      <div class='small-12 columns'>
        <button class="large-5 small-5 columns" {{action 'addToCart'}}>Add To Cart</button>
        {{link-to "Keep Shopping" "spree.products" class="button large-5 small-5 columns"}}
      </div>
    </div>
  </div>
</div>
{{!-- ADD THE PRODUCT INFORMATION --}}
{{#is-equal param1=product.name param2="busy" }}
  {{partial 'partials/busygreens'}} {{partial 'partials/faq'}}
{{/is-equal}}
{{#is-equal param1=product.name param2="plantastic" }}
  {{partial 'partials/plantastic'}}
{{/is-equal}}
{{#is-equal param1=product.name param2="vegomega" }}
  {{partial 'partials/vegomega'}}
{{/is-equal}}
